<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-10">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
    
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Sections
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Quants</a>
                  <a class="dropdown-item" href="#">LR</a>
                  <a class="dropdown-item" href="#">Verbal</a>
                </div>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" href="#">Test</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="#">Articles</a>
                </li>
    
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Admin</a>
              </li>
            </ul>
            <!-- TODO: disabled search for now -->
            <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
          </div>

          <div class="col-sm-2">
              <button class="btn btn-outline-success my-2 my-sm-0">Login</button>
              <button class="btn btn-outline-success my-2 my-sm-0">Register</button>
          </div>
        </div>
      </div>
    </div>
  </nav>